html {
  background: linear-gradient(to bottom, rgb(120, 23, 84), rgb(51, 51, 51));
  min-height: 100%;
}

body {
  background-color: white;
  margin: 0px auto;
  min-width: 340px;
  max-width: 500px;
  width: 100%;
  min-height: 100%;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#character {
  width: 20px;
  height: 50px;
  margin-left: 10px;
  background-color: red;
  position: relative;
  top: 150px;
}

/* animate class to be active when spacebar is pressed */

.animate {
  animation: jump 500ms;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
